.wrapper {
  margin: auto;
  width: 50%;
  display: grid;
  grid-template-columns: 100px 200px;
  grid-template-rows: repeat(6, 3rem);
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
}